.igwe-bio{
    margin: 2rem;
    padding: 1rem 0rem;
}
.igwe-bio h4{
    margin: 1rem 0;
    padding: 1rem 1rem;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    text-align: center;
    border-radius: 0.8rem;
    font-size: 1.1rem;
    width: 80%;  
       
}

.igwe-bio p{
    text-align: center;
    background-color: #fff;
    padding: 1.2rem 0.6rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 0.5rem;
}

.igwe-bio p span{
   font-weight: bolder;
   color: #000;
   font-size: 1.2rem;
}

.dynasty{
    margin: 2rem;
    padding: 1rem 0rem;
}
.dynasty h4{
    margin: 1rem 0;
    padding: 0.7rem 0.7rem;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    text-align: center;
    border-radius: 0.8rem;
    font-size: 1.1rem;
    width: 80%;  
}

.dynasty p{
    text-align: center;
    background-color: #fff;
    padding: 1.2rem 0.6rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 0.5rem;
}



/*********** start of back to top button ************/
#progress{
    /* background-color: #800000; */
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 5;
}

#progress-value{
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #001a2e;
}


/*********** end of back to top button ***********/